.pack-section{
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}
.pack-grig{
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  
}
.pack-grig:after{
  clear: both;
}
.pack-grig:after,xop-box:before{
  content: '';
  display: table;
}
.pack-grig li{
  width: 320px;
  height: 328px;
  display: inline-block;
  margin: 20px;
}
.pack-box{
  height: 100%;
  position: relative;
  box-shadow: 4px 2px 6px #000;
  border-radius: 50px;
	margin-left: 1px;
  -webkit-transition: 0.3s ease-in-out;
  -webkit-transform: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
  -moz-transform: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
h1 {
	-webkit-transition: 0.3s ease-in-out;
  -webkit-transform: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
  -moz-transform: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: 0.3s ease-in-out;
}
.pack-box:hover{
  transform: scale(1.05);
  box-shadow: 6px 3px 10px #000;
}
.pack-img-1{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1539184937338-7636df72c63e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07f54c4b98b12878d3149e64aa8e3037&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.pack-img-2{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1528367533344-3cd2fd7b21b0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8db068bd5cac71204d84c984a4941141&auto=format&fit=crop&w=675&q=80);
  background-size: cover;
}
.pack-img-3{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1534627589338-c70197311870?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eed2d9af666abc94f3324fcbc03364a2&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.pack-img-4{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1530187589563-1ff5b061d4f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b09e7bc74f7e43572220c94eae92035f&auto=format&fit=crop&w=1169&q=80);
  background-size: cover;
}

.pack-img-5{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1529988885170-6dc8ce34ce6d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0296968019d0f451378d3da4f0baf576&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
}

.pack-img-6{
  background:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.10)),
  url(https://images.unsplash.com/photo-1525791671100-ebf5f59a8f40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c149cd0fdfedac251076f272fde357dc&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pack-info{
  position: absolute;
  width: inherit;
  height: inherit;
}
.pack-info h3{
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 42px;
  margin: 150px 0 0;
  line-height: 1;
}
.pack-info p{
  font-family: sans-serif;
  color: #fff;
}
.pack-info .btn1{
	cursor: pointer;
	width: 100px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  background: #458ff6;
  border: none;
  border-radius: 13px;
  box-shadow: 0 2px 3px #000;
  outline: none;
  
}
.pack-info .btn1:hover{
  background: #458ff6;
  font-size: 20px;
   box-shadow: 0 2px 3px #000;
  width: 120px;
}
@media screen and (max-width:415px){
	.pack-grig li{margin: 24px 0px;
		padding: 5px;
	}
	
	
} 